html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0px;
    background-color: #151515;
    overflow: hidden;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
    font-size: 11px;
}

th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
    font-size: 14px;
}

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
    font-size: 12px;
}

#grid {
	position:absolute;
	top:0px;
	left:0px;
	height: 100%;
	width: 100%;
}
