<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>Census2</display-name>
    <description>Census2 Application</description>

    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>

    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <display-name>MessageBrokerServlet</display-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SendCensusResult</servlet-name>
        <display-name>SendCensusResult</display-name>
        <servlet-class>com.jamesward.census2.SendCensusResult</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Census Service Servlet</servlet-name>
        <display-name>Census Service Servlet</display-name>
        <servlet-class>com.jamesward.census2.CensusServiceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>jaxws</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SendCensusResult</servlet-name>
        <url-pattern>/SendCensusResult</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Census Service Servlet</servlet-name>
        <url-pattern>/census2-tests/servlet/CensusServiceServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jaxws</servlet-name>
        <url-pattern>/census2-tests/services/CensusSOAPService</url-pattern>
    </servlet-mapping>

    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>